.sidebar{
    background-color: #84bbf381 ;
    width: 80em;
    height: 80em;
    margin-left: 28em;
}

.sidebar h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
} */

.list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -3em;
    margin-top: 2em;
   
}

.list div{
    width:90%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: baseline;
    background-color:#fbfbfbcc;
    border-radius:6px;
    margin-bottom: 0.5em;
    margin-left: 4em;
}

.titleTaskEmpty{
    margin-left: 0.5em;
}

.titleTask{
    font-family: 'Roboto', sans-serif;
	font-size:15px;
    font-weight:bold;
    margin-left: 0.5em;
}

.btn { 
    margin-left: 60em;
    margin-bottom: 2em;
    
	background-color:#d42323be;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Roboto', sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}